package ones.quzhigang.permission.mapper;
import java.util.List;

import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.Insert;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.ResultMap;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.SelectKey;
import org.apache.ibatis.annotations.SelectProvider;
import org.apache.ibatis.annotations.Update;

import ones.quzhigang.permission.model.$!{classNameUpCase}Model;
import ones.quzhigang.permission.query.$!{classNameUpCase}Query;

@Mapper
public interface  $!{classNameUpCase}Mapper{
	

																																																																																																																				
	private static final String columns="$!{columns}";

    private static final String insert="$!{insert}";

    private static final String property="$!{property}";

    private static final String insertProperty="$!{insertProperty}";

    private static final String update="$!{update}";
	
	@Select("select "+columns+" from $!{talbeName} where ID=#{id}")
	@ResultMap(value="ones.quzhigang.permission.mapper.$!{classNameUpCase}Mapper.$!{classNameUpCase}ModelMap")
    $!{classNameUpCase}Model getById(long id);
	
	@Insert("insert into $!{talbeName} ("+insert+") values ("+insertProperty+")")
	@SelectKey(statement="SELECT LAST_INSERT_ID()", keyProperty="id", before=false, resultType=Long.class)
    long insert($!{classNameUpCase}Model $!{classNameLowCase});

	@Update("update $!{talbeName} set "+update+" where ID=#{id}")
    long update($!{classNameUpCase}Model $!{classNameLowCase});
	
	@Delete("delete from $!{talbeName} where 1 = 1 and ID=#{id} ")
    void delById(long id);

	@SelectProvider(type=ones.quzhigang.permission.provider.$!{classNameUpCase}Provider.class,method="fetchPageAdvance")
	@ResultMap(value="ones.quzhigang.permission.mapper.$!{classNameUpCase}Mapper.$!{classNameUpCase}ModelMap")
    List<$!{classNameUpCase}Model> fetchPageAdvance($!{classNameUpCase}Query query);
	
	
	@SelectProvider(type=ones.quzhigang.permission.provider.$!{classNameUpCase}Provider.class,method="fetchPageAdvanceCount")
	int fetchPageAdvanceCount($!{classNameUpCase}Query query);
	
	
	
	
}