<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ones.quzhigang.permission.mapper.$!{classNameUpCase}Mapper">
	    <resultMap type="ones.quzhigang.permission.model.$!{classNameUpCase}Model" id="$!{classNameUpCase}ModelMap">
	    
	    	 #foreach($f in ${filds})
	    	    #if($velocotyCount==1)
<id property="$!{f.fild}" column="$!{f.columnName}" />
	    	    #else
<result property="$!{f.fild}" column="$!{f.columnName}" />
	    	    #end
			 #end	
		</resultMap>

</mapper>




