package ones.quzhigang.permission.provider;

import java.io.Serializable;

import ones.quzhigang.permission.query.$!{classNameUpCase}Query;


public class $!{classNameUpCase}Provider implements Serializable  {

	
	
	
	public String fetchPageAdvance($!{classNameUpCase}Query query){  
		StringBuffer sql=new StringBuffer("select * from $!{talbeName} where 1 = 1" );
		   if(query!=null){

		   }
		
		

	
		sql.append(" order by ID desc " );
		
		if(query.getLimit()>0){
			sql.append(" limit "+(query.getPageNumber()-1)*query.getPageSize()+","+query.getPageSize());
		}


		
		
		return sql.toString();
	}
	
	public String fetchPageAdvanceCount($!{classNameUpCase}Query query){
		StringBuffer sql=new StringBuffer("select count(*) from $!{talbeName} where 1 = 1" );
		   if(query!=null){

		   }
		
		
		return sql.toString();
	}
	
	
	

}
