<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ones.quzhigang.permission.mapper.SysLogMapper">
	    <resultMap type="ones.quzhigang.permission.model.SysLogModel" id="SysLogModelMap">
	    
	    	 	    	    <result property="id" column="id" />
	    	    			 	    	    <result property="type" column="type" />
	    	    			 	    	    <result property="targetId" column="target_id" />
	    	    			 	    	    <result property="oldValue" column="old_value" />
	    	    			 	    	    <result property="newValue" column="new_value" />
	    	    			 	    	    <result property="operator" column="operator" />
	    	    			 	    	    <result property="operateTime" column="operate_time" />
	    	    			 	    	    <result property="operateIp" column="operate_ip" />
	    	    			 	    	    <result property="status" column="status" />
	    	    			 		</resultMap>

</mapper>




