<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ones.quzhigang.permission.mapper.SysDeptMapper">
	    <resultMap type="ones.quzhigang.permission.model.SysDeptModel" id="SysDeptModelMap">
	    
	    	 	    	    <result property="id" column="id" />
	    	    			 	    	    <result property="name" column="name" />
	    	    			 	    	    <result property="parentId" column="parent_id" />
	    	    			 	    	    <result property="level" column="level" />
	    	    			 	    	    <result property="seq" column="seq" />
	    	    			 	    	    <result property="remark" column="remark" />
	    	    			 	    	    <result property="operator" column="operator" />
	    	    			 	    	    <result property="operateTime" column="operate_time" />
	    	    			 	    	    <result property="operateIp" column="operate_ip" />
	    	    			 		</resultMap>

</mapper>




